<div class="cadastro-container">
    <router-outlet></router-outlet>
    <div class="cadastro-card">
      <div class="cadastro-header">
        <img src="logoCN.jpeg" alt="Logo" class="cadastro-logo" />
        <h2>Login</h2>
      </div>
      <form>
        <div class="form-group">
          <input type="email" placeholder="Digite seu email" />
        </div>
        <div class="form-group">
          <input type="password" placeholder="Digite sua senha" />
        </div>
        <button type="submit" class="btn-cadastrar">Login</button>
        <p class="login-link">Caso não tenha se cadastrado, <a href="#">clique aqui</a>.</p>
      </form>
    </div>
  </div>
  